

#leftNode {
    -fx-background-color: #242527;
        -fx-border-color: transparent;
        -fx-border-width: 0;
        -fx-border-insets: 0;
        -fx-border-style: none;

}



#root{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-border-style: none;
     -fx-border-radius: 20;
     -fx-background-radius: 20;
}

#settingsButton{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: #f8f8f8;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-font-family: 'JetBrains Mono';


}

#settingsButton:hover{
    -fx-background-color: transparent;
    -fx-text-fill: #c5c6c7;
}

#plusButtonManuscript{
        -fx-border-color: transparent;
        -fx-background-color: #3698f6;
        -fx-background-radius: 100em;
        -fx-min-width: 40px;
        -fx-min-height: 40px;

}

#linkVisitWebsite{
    -fx-text-fill: #f8f8f8;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-font-family: 'JetBrains Mono';

}

#linkVisitWebsite:hover{
    -fx-text-fill: #c5c6c7;
}

#plusButtonProject{
        -fx-border-color: transparent;
        -fx-background-color: #3698f6;
        -fx-background-radius: 100em;
        -fx-min-width: 40px;
        -fx-min-height: 40px;
}

#mainPane{
    -fx-background-color: #f3f4f4;
}

#topPane{
    -fx-background-color: #fff;
}

#bottomPane{
    -fx-background-color: #fff;
}

#infoLabel{
 -fx-text-fill: #3e3f41;
}
#newProjectButton{
    -fx-background-color: #f2f2f2;
    -fx-border-style: none;
    -fx-font-size: 12px;
    -fx-font-family: 'JetBrains Mono';
}

#newProjectButton:focused{
    -fx-background-color: #ffffff;
    -fx-border-width: 1;
    -fx-border-color: #f2f2f2;
}

#recentProjectsButton{
    -fx-background-color: #f2f2f2;
    -fx-border-style: none;
    -fx-font-size: 12px;
    -fx-font-family: 'JetBrains Mono';
}

#recentProjectsButton:focused{
    -fx-background-color: #ffffff;
    -fx-border-width: 1;
    -fx-border-color: #f2f2f2;
}

#openFileButton{
    -fx-background-color: #ffffff;
    -fx-border-width: 1;
    -fx-border-color: #f2f2f2;
    -fx-text-fill: #3b3b3b;
    -fx-font-size: 14px;
    -fx-font-family: 'JetBrains Mono';
}

#openFileButton:hover{
    -fx-background-color: #0f83fe;
    -fx-border-width: 1;
    -fx-border-color: #0f83fe;
    -fx-text-fill: #e2fcff;
}

#openFileButton:focused{
    -fx-background-color: #0f83fe;
    -fx-border-width: 1;
    -fx-border-color: #0f83fe;
    -fx-text-fill: #e2fcff;
}

#cancelCreatingButton{
    -fx-background-color: #ffffff;
    -fx-border-width: 1;
    -fx-border-color: #f2f2f2;
    -fx-text-fill: #3b3b3b;
    -fx-font-size: 14px;
    -fx-font-family: 'JetBrains Mono';
}

#cancelCreatingButton:focused{
    -fx-background-color: #0f83fe;
    -fx-border-width: 1;
    -fx-border-color: #0f83fe;
    -fx-text-fill: #e2fcff;
}

#cancelCreatingButton:hover{
    -fx-background-color: #0f83fe;
    -fx-border-width: 1;
    -fx-border-color: #0f83fe;
    -fx-text-fill: #e2fcff;
}

#createProjectButton{
    -fx-background-color: #ffffff;
    -fx-border-width: 1;
    -fx-border-color: #f2f2f2;
    -fx-text-fill: #3b3b3b;
    -fx-font-size: 14px;
    -fx-font-family: 'JetBrains Mono';
}

#createProjectButton:focused{
    -fx-background-color: #0f83fe;
    -fx-border-width: 1;
    -fx-border-color: #0f83fe;
    -fx-text-fill: #e2fcff;
}

#manuscriptImagePane:hover{
    -fx-background-color: #dee3e9;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-fill: #000;
}

#newProjectImagePane:hover{
    -fx-background-color: #dee3e9;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-fill: #000;
}

#newManuscriptText{
    -fx-font-size: 12px;
    -fx-font-family: 'JetBrains Mono';
}

#newProjectText{
    -fx-font-size: 12px;
    -fx-font-family: 'JetBrains Mono';
}

#userName{
    -fx-font-size: 14px;
    -fx-font-family: 'JetBrains Mono';
}

#infoLabel{
    -fx-font-size: 12px;
    -fx-font-family: 'JetBrains Mono';
}

#logoText{
    -fx-font-size: 24px;
    -fx-font-family: 'Jim Nightshade';
}

#firstWindowLine{
 -fx-stroke: #494a4c;
 -fx-stroke-width: 0.5px;
}

#manuscriptProjectPane{
    -fx-background-color: #f9fafc;
}
#recentProjectsPane{
    -fx-background-color: #f9fafc;
}

#recentProjectSmallPane:hover{
    -fx-background-color: #dee3e9;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-fill: #000;
}